<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Chat</title>
</head>
<body>
    <form method="post" action="/chats">
        <h2> Send someone your thoughts </h2>
        <input name="from" placeholder="who are you?">
        <br><br>
        <textarea name="mssg" placeholder="write your mssg here..."></textarea>
        <br><br>
        <input name="to" placeholder="Receiver">
        <br><br>
        <button> Send ! </button>
    </form>
</body>
</html>